/*
body{
    background-color: white;
}

#my-nav-bar-searchpage{
    display: flex;
    border-bottom: 0.2rem solid #18BC9C;
}

#brand-name-navbar-searchpage {
    flex: 6;
}

.user-img {
    margin: 0.2rem 0 0.2rem 0;
    border: 0.1rem solid darkgray;
    width: 100%;
    height: 8rem;
}

#search-trending-topic-subscription-type{
    float: right;
}

#search-trending-topic-subscription-type div{
    margin: 0.5rem;
}

#search-trending-topic-subscription-type .fa{
    margin: 0.5rem;
}

.search-options a{
    margin: 0.2rem;
}
.search-top-posts-options a{
    margin: 0.2rem;
}

.copyright{
    width: 100%;
    color: #fff;
    text-align:center;
}

.footer{
    border-top: 0.2rem solid #18BC9C;
    margin: 0;
}

i{
    padding: 0.2rem;
}

a:hover{
    text-decoration: none;
}
*/
