<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script th:src="@{'/javascripts/validate.js'}"></script>

</head>
<body>
<div th:if="${session.email!=null}">


<div class="col-md-3"></div>
<div class="col-md-6">
    <!--Coding for the panel "Recent shares" from here-->
    <div class="panel panel-default">
        <div class="panel-heading" style="text-align: center">
            <h3>Reset Password</h3>
        </div>
        <div class="panel-body">
            <div style="padding: 10px;">
                <form name="resetPassword" class="form-group" action="/resetPassword" method="post">
                    <div class="form-group row col-lg-12">
                        <span class="col-lg-5 col-md-6 col-sm-12">New Password<sp>*</sp></span>
                        <input class="col-lg-7 col-md-6 col-sm-12" type="Password" name="password" id="password" required>
                    </div>
                    <div class="form-group row col-lg-12">
                        <span class="col-lg-5 col-md-6 col-sm-12">Confirm password<sp>*</sp></span>
                        <input class="col-lg-7 col-md-6 col-sm-12" type="Password" name="confirmPassword" id="confirmPassword" required>
                    </div>

                    <div class="form-group row col-lg-12">

                        <div style=" padding-right: 11px;"><input type="submit" name="update" value="Update" style=""/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
</div>
<div th:unless="${session.email!=null}">
    <script th:inline="javascript">
        window.location.href="/";
    </script>
</div>
</body>
</html>