<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div th:if="${session.email!=null}">



    <div class="upper-part">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h3>Enter your OTP here?</h3>

                    <div class="panel">
                        <div class="panel-body bg-danger text-center">
                            <span th:text="${session.msg}"></span>
                        </div>
                    </div>

                </div>
                <div class="panel-body">
                    </br>
                    </br>
                    <form th:action="@{/otpCheck}" method='post' data-toggle="validator" class="form-horizontal">
                        <div class="form-group">
                            <label for="otp" class="col-lg-5 control-label">Enter Otp that will sent to your registered email id:</label>
                            <div class="col-lg-5">
                                <input type="text" name="otp" class="form-control" id="otp" placeholder="Enter your otp" required/>
                            </div>
                        </div><!--end form group-->
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-5">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div><!--end form group-->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div th:unless="${session.email!=null}">
    <script th:inline="javascript">
        window.location.href="/";
    </script>
</div>
</body>
</html>