<html xmlns:th="http://www.thymeleaf.org">
<head>


    <!--For bootstrap, import:-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--For icons, import:-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .bottom-part {
            padding-left: 5%;
            padding-right: 5%;
        }

        .pic-class {
            width: 80px;
            height: 80px;
        }
        td{
            width: 300px;
        }
    </style>
</head>
<body>

<!--Top part of page-->
<div class="top-box-border">
    <nav class="navbar" style="border: 2px solid; border-radius: 10px;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/dashboard">Link Sharing</a>
            </div>

            <span class="navbar-form navbar-right">
         <input type="text" class="form-control" placeholder="search">
        <button type="submit" class="glyphicon glyphicon-search"
                style=" margin-left: -30px; background-color: transparent; border: none;"></button>
        <span class="glyphicon glyphicon-paperclip" data-toggle="modal" data-target="#myModal3"
              title="ShareLink"></span>
        &nbsp;&nbsp;
        <span class="fa fa-file-text" data-toggle="modal" data-target="#myModal4" title="ShareDocument"></span>
        &nbsp;&nbsp;
        <span class="">
             <img th:src="'/'+${session.user.photo}" height="20px" width="20px" class="avatar img-circle"/>
        </span>
        <span>
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
            style="background-color: transparent; border: none;">
         <span th:text="${session.user.firstName}"></span>
    <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">

      <li><a href="/userProfile">Profile</a></li>
        <!-- <li><a href="#">Users</a></li>
         <li><a href="#">Topics</a></li>-->
      <li><a href="/post">Posts</a></li>
      <li><a href="/logoutUser">Logout</a></li>
    </ul>      
      </span>
            </span>
        </div>
    </nav>
</div>

<div class="bottom-part">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading" th:text="'TOPIC : '+${topic.topicName}">
                    Topic:"Grails"
                </div>
                <div class="panel-body">
                    <div class="col-md-2">
                        <img class="pic-class" th:src="'/'+${topic.user.photo}">
                    </div>
                    <div class="col-md-10">
                        <a href="#" th:text="${topic.topicName}">Grails</a>
                        <table style="border-spacing:5%;">
                            <tr>
                                <td>
                                    <font size=2px th:text="${topic.user.userName}"> @uday 5 mins</font>
                                </td>
                                <td>
                                    <font size=2px> Subscriptions</font>
                                </td>
                                <td>
                                    <font size=2px> Posts</font>

                                </td>
                            </tr>
                            <tr>
                                <td >

                                    <div th:unless="${topic.user.userName==session.user.userName}" th:with="topicId = ${topic.topicId}">

                                        <p th:if="${topic.subscribers.contains(session.user.userId)}">
                                            <button type="submit" name="btn" value="unsubscribe" style="background-color:
                                            transparent; border: none; margin-left:-7px;"
                                                    class="btn-a-link"><a>Unsubscribe</a></button>
                                        </p>
                                        <p th:unless="${topic.subscribers.contains(session.user.userId)}">
                                            <button type="submit" name="btn" value="subscribe" style="background-color: transparent;
                                            border: none; margin-left:-7px;"
                                                    class="btn-a-link"><a>Subscribe</a></button>
                                        </p>
                                    </div>
                                    <!--<a href="#"><font size=2px style="color:blue"> Unsubscribe</font></a>-->
                                </td>
                                <td>
                                    <font size=2px style="color:blue" th:text="${topic.subscribers.size()}"> 50</font>
                                </td>
                                <td>
                                    <font size=2px style="color:blue" th:text="${topic.resources.size()}"> 30</font>
                                </td>
                            </tr>
                        </table>
                        <br>
                        <span style="float: right;">
                            	<div th:if="${topic.subscribers.contains(session.user.userId)}">
                                <div class="btn-group"
                                     th:unless="${topic.user.userName==session.user.userName}">
                                            <span th:each="subs : ${subscriptionDetails}">
                                                <span th:if="${subs.user.userId==session.user.userId}">
                                                    <span th:with="seriousness = ${subs.seriousness}">

                                                        <select type="submit" class="btn btn-secondary"
                                                                th:topic-id="${topic.topicId}"
                                                                th:classappend="newseriousness" name="newseriousness">
                                                            <option th:selected="${seriousness==session.seriousnessTypes[1]}"
                                                                    value="SERIOUS">serious
                                                            </option>
                                                            <option th:selected="${seriousness==session.seriousnessTypes[0]}"
                                                                    value="CASUAL">casual
                                                            </option>
                                                            <option th:selected="${seriousness==session.seriousnessTypes[2]}"
                                                                    value="VERY_SERIOUS">very
                                                                serious
                                                            </option>
                                                        </select>

                                                    </span>
                                                </span>
                                            </span>
                                </div>
                            </div>
                            <div th:unless="${topic.subscribers.contains(session.user.userId)}">
                                <div class="btn-group">
                                    <select th:unless="${topic.user.userName==session.user.userName}"
                                             class="btn btn-secondary" th:name="newseriousness"
                                            th:placeholder="seriousness" required>
                                        <option value="SERIOUS">serious</option>
                                        <option value="CASUAL">casual</option>
                                        <option value="VERY_SERIOUS">very serious</option>
                                    </select>
                                </div>
                            </div>
                            <div>

                            <span th:if="${topic.visibility==topic.visibility.PRIVATE}" class="glyphicon glyphicon-envelope">

                            </span>
                                  </div>
                            </span>

                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div th:text="'Users : '+${topic.topicName}" class="panel-heading">
                    User Grails:
                </div>
                <span th:each=" userSubs : ${usersSubscribed}">

                    <div class="panel-body">
                        <div class="col-md-2">
                        <img class="pic-class" th:src="'/'+${userSubs.photo}">
                    </div>
                        <div class="col-md-10">
                            <a href="#" th:text="${userSubs.firstName+' '+userSubs.lastName}">Uday Pratap Singh</a>
                            <table>
                                <tr>
                                    <td>
                                        <font size=2px th:text="${userSubs.userName}"> @uday 5 mins</font>
                                    </td>
                                </tr>
                                <br>
                                <tr>
                                    <td>
                                        <font size="2px">Subscriptions</font>
                                    </td>
                                    <td>
                                        <font size="2px">Topics</font>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <font size="2px" style="color: blue;" th:text="${subscriptionCountOfUsers.get(userSubs.userId)}">50</font>
                                    </td>
                                    <td>
                                        <font size="2px" style="color: blue;" th:text="${userSubs.topic.size()}">30</font>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </span>

            </div>

        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span th:text="'Posts : '+${topic.topicName}">Posts:"Grails"</span>
                    <span style="float: right;">
						<input type="text" name=""/>
						<button class="glyphicon glyphicon-chevron-down" style="width: 27px;height: 23px;"/>
					</span>
                </div>
                <div class="panel-body">
                    <span th:each=" resource : ${resources}">
                    <div class="col-md-2">
                        <img class="pic-class" th:src="'/'+${resource.user.photo}">
                    </div>
                    <div class="col-md-10">
                        <p th:text="${resource.description}">
                            To group many panels together, wrap a with class .panel-group a
                            round them. The .panel-group class clears the bottom-margin of each
                            panel: To group many panels together, wrap a with class
                        </p>
                        <a href="www.facebook.com">
                            <i class="fa fa-facebook-square" style="font-size:20px"></i>
                        </a>
                        <a href="www.twitter.com">
                            <i class="fa fa-twitter" style="font-size:20px"></i>
                        </a>
                        <a href="www.plus.google.com">
                            <i class="fa fa-google-plus" style="font-size:20px"></i>
                        </a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#" th:if="${resource.resourceType.name()=='DOCUMENT'}"
                           th:href="'/'+${resource.urlPath}">Download</a>&nbsp;
                        <a href="#" th:if="${resource.resourceType.name()=='LINK'}"
                           th:href="${resource.urlPath}"  TARGET="_blank">View Full Site</a>&nbsp;
                        <a href="#">Mark as read</a>&nbsp;
                        <a href="#">View Post</a>

                    </div>
                    </span>
                </div>


        </div>
        <div class="modal fade" id="myModal3" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Share Link</h4>
                    </div>
                    <div class="modal-body">
                        Link:* <input type="text" placeholder="Email" style="position:relative;margin-left:40%;">
                        <br><br>
                        Description:* <textarea cols="22" rows=3 placeholder="Description"
                                                style="position:relative;margin-left:32%;"></textarea>
                        <br><br>
                        Topic:* <select style="position:relative;margin-left:40%;">
                        <option>Topic</option>
                        <option>Topic 1</option>
                    </select>
                        <br><br>
                        <button type="submit" style="position:relative; margin-left:48%;">Share</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="modal fade" id="myModal4" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Share Document</h4>
                    </div>
                    <div class="modal-body">
                        Document:* <input type="file" style="position:relative;margin-left:40%;">
                        <br><br>
                        Description:* <textarea cols="22" rows=3 placeholder="Description"
                                                style="position:relative;margin-left:32%;"></textarea>
                        <br><br>
                        Topic:* <select style="position:relative;margin-left:40%;">
                        <option>Topic</option>
                        <option>Topic 1</option>
                    </select>
                        <br><br>
                        <button type="submit" style="position:relative; margin-left:48%;">Share</button>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

    </div>